@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: gilroy-regular;
    font-variant-ligatures: none;
    min-height: var(--100vh, 100vh);
    max-height: -webkit-fill-available;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: env(safe-area-inset-top);
    overflow-x: hidden;
}

.hover-gradient-black-gray-black:hover {
    background-image: linear-gradient(to right, black, gray-400, black);
}

.unbilled-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unbilled-image {
    max-width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .unbilled-section {
        height: auto;
    }

    .unbilled-image {
        width: 440px;
        height: 500px;
        object-fit: cover;
    }
}

.gGwbWp {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 125px;
    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dYlzCk {
    background: linear-gradient(170deg, rgb(0, 0, 0), rgb(85, 85, 85)) text;
    -webkit-text-fill-color: transparent;
}

.fquCfu {
    font-family: denton;
    font-size: 67px;
    font-weight: 800;
    letter-spacing: -0.3px;
    line-height: 65px;
    text-align: left;
}

.hrudQH {
    margin-bottom: calc(40px);
}

.hHnUWF {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.hdDaEA {
    margin-bottom: calc(15px);
}

.hpTdVv {
    display: flex;
    align-items: flex-start;
}

.edROEC {
    user-select: none;
    width: 100%;
    object-fit: cover;
}

.fBRsjM {
    width: 32px;
    height: 32px;
}

.lbxDUD {
    margin-left: 10px;
    text-align: left;
}

.kkVKoh {
     font-family: gilroy-bold;
     font-size: 15px;
     font-weight: initial;
     letter-spacing: 2.15px;
     line-height: 28px;
 }

.buBswu {
    font-family: gilroy;
    font-size: 15px;
    font-weight: initial;
    letter-spacing: 0.5px;
    line-height: 28px;
    opacity: 0.6;
}

.edROEC {
    user-select: none;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .dYlzCk {
        background: linear-gradient(170deg, rgb(0, 0, 0), rgb(85, 85, 85)) text;
        -webkit-text-fill-color: transparent;
    }

    .czXzVu {
        padding: 0px 30px;
    }

    .fquCfu {
        font-size: 40px;
        line-height: 39px;
    }

    .hHnUWF {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 20;
    }

    .carousel-item {
        flex: 0 0 100%;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

    .hHnUWF::-webkit-scrollbar {
        display: none;
    }

    .hHnUWF {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .gGwbWp {
        padding: 100px 0px;
    }
}

.jWXgbn {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
}

.yhFLh {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex
;
    flex-direction: column;
    text-align: center;
}

.cMHqyL {
    font-family: gilroy-medium;
    font-weight: initial;
    font-size: 17px;
    letter-spacing: 4px;
    line-height: 32px;
    text-transform: uppercase;
    color: rgb(108, 108, 108);
    white-space: pre-wrap;
}

.AzLpJ {
    font-family: denton;
    font-size: 88px;
    font-weight: 800;
    letter-spacing: -0.6px;
    line-height: 87px;
}

.eLnQK {
    font-family: gilroy;
    font-size: 20px;
    font-weight: initial;
    letter-spacing: 0.6px;
    line-height: 36px;
    opacity: 0.6;
    white-space: pre-line;
}

.mshjJ {
    position: absolute;
    width: 85%;
    background: rgb(207, 207, 207);
    height: 2px;
}

.VzfKH {
    margin-top: 50px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex
;
    text-align: center;
}

.kQQkFl {
    width: 60%;
    text-align: left;
}

.jidhBR {
    width: 70px;
    height: 70px;
}

.ghNafr {
    margin-bottom: calc(20px);
}

.AzLpJ {
    font-family: denton;
    font-weight: 800;
}

.hTFIyf {
    background: linear-gradient(170deg, rgb(0, 0, 0), rgb(85, 85, 85)) text;
    -webkit-text-fill-color: transparent;
}

.bWosiJ {
    font-size: 76px;
    letter-spacing: -0.4px;
    line-height: 70px;
    max-width: 70%;
}

.uyHJB {
    width: 40%;
    text-align: left;
}

.eLnQK {
    font-family: gilroy;
    font-size: 20px;
    font-weight: initial;
    letter-spacing: 0.6px;
    line-height: 36px;
    opacity: 0.6;
    white-space: pre-line;
}

.ghNafr {
    margin-bottom: calc(20px);
}

.eLnQK {
    font-family: gilroy;
    font-size: 20px;
    font-weight: initial;
    letter-spacing: 0.6px;
    line-height: 36px;
    opacity: 0.6;
    white-space: pre-line;
}

.kkfHeq {
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 100vw;
}

.bTEqWy {
    display: flex
;
    padding: 125px;
}

.ibYucQ {
    top: 55%;
}

.enTSAE {
    padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .yhFLh {
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        display: flex
    ;
        flex-direction: column;
        text-align: center;
    }

    .cMHqyL {
        font-size: 12px;
        letter-spacing: 3px;
        line-height: 16px;
    }

    .AzLpJ {
        font-size: 46px;
        font-weight: 800;
        letter-spacing: -0.3px;
        line-height: 46px;
    }

    .eLnQK {
        font-size: 14px;
        letter-spacing: 0.1px;
        line-height: 26px;
    }

    .kkfHeq {
        padding: 50px 30px;
    }

    .jidhBR {
        width: 55px;
        height: 55px;
    }

    .bWosiJ {
        font-size: 40px;
        letter-spacing: -0.3px;
        line-height: 39px;
    }

    .eLnQK {
        font-size: 14px;
        letter-spacing: 0.1px;
        line-height: 26px;
    }

    .uyHJB {
        width: 100%;
        margin-top: 20px;
    }

    .kkfHeq {
        padding: 50px 30px;
    }
}

.ialzGb {
    max-width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6.96986px);
    padding: 20px 25px;
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.gEftKE {
    width: 100%;
    font-family: gilroy;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.382px;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    margin-left: 20px;
}

.eLznSh {
    width: 80px;
}

.jpRlrZ {
    font-size: 13px;
    line-height: 16px;
}

.ggybSB {
        width: 20px;
        height: 8px;
        margin-left: 10px;
    }

@layer base {
    @font-face {
        font-family: 'gilroy-bold-2';
        src:url('/fonts/Gilroy-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: 'gilroy-bold';
        src:url('/fonts/Gilroy-Bold.woff') format('woff');
    }

    @font-face {
        font-family: 'gilroy-medium-2';
        src:url('/fonts/Gilroy-Medium.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gilroy-medium';
        src:url('/fonts/Gilroy-Medium.woff') format('woff');
    }

    @font-face {
        font-family: 'gilroy-regular-2';
        src:url('/fonts/Gilroy-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'gilroy-regular';
        src:url('/fonts/Gilroy-Regular.woff') format('woff');
    }

    @font-face {
        font-family: 'gilroy-semi-bold';
        src:url('/fonts/Gilroy-SemiBold.woff') format('woff');
    }

    @font-face {
        font-family: 'denton-extra-bold-2';
        src:url('/fonts/Denton-ExtraBold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'denton-extra-bold';
        src:url('/fonts/Denton-ExtraBold.woff') format('woff');
    }

    @font-face {
        font-family: 'atlassian-sans-latin';
        src:url('/fonts/AtlassianSans-latin.woff2') format('woff2');
    }
}